.footer-1-inner {
  background-image: url(https://i.ibb.co/dB6bdLv/biggin-Photo-Room2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  bottom: 0;
  z-index: 8000;
  display: flex;
  position: relative;
  /* background-color: #fff5ee; */
}

.footer-style-1 {
  background: linear-gradient(#fff5ee, #fbaed2, #ed7a9b);
  position: relative;
  z-index: 4000;
  height: 400px;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: flex-end;
}

#footer-logo {
  height: 150px;
  position: absolute;
  z-index: 10000;
}

.one-third-footer {
  width: 33vw;
  display: flex;
}

#footer-1-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#footer-1-mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-1-right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#right-inner,
#left-inner {
  background-color: rgba(42, 30, 92, 0.7);
  border-radius: 20px;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#left-inner {
  color: white;
  font-weight: bold;
}

#support-bttn {
  color: white;
  border: 2px solid #da70d6;
  background-color: #800080;
  border-radius: 20px;
  height: 55px;
  width: 100px;
}

#support-bttn:hover {
  background-color: #da70d6;
  border: 2px solid #800080;
}

#support-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.footer-link {
  text-decoration: none;
  color: white;
}
