.profile-dropdown {
  position: absolute;
  right: 25px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  text-align: center;
}

.hidden {
  display: none;
}

#nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background-color: #fff0f5;
  border-bottom: 1px solid #303036;
  /* width: 100vw; */
}

#nav-logo {
  height: 75px;
}

#nav-home-link {
  color: black;
  text-decoration: none;
}

#logo-name-holder {
  display: flex;
  align-items: center;
  font-size: 22px;
}

#user-circle-bttn {
  border: none;
  background-color: transparent;
}

#user-circle-bttn:hover {
  cursor: pointer;
}

#user-prof-icon {
  height: 25px;
  width: 25px;
}

.dropdown-bttn {
  width: 90px;
  height: 35px;
}

.logout-bttn {
  border: 3px solid #ff91a4;
  background-color: #fc5130;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.logout-bttn:hover {
  border: 3px solid #fc5130;
  background-color: #ff91a4;
}

.profile-bttn {
  background-color: #30bced;
  border: 3px solid #15f4ee;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.profile-bttn:hover {
  background-color: #15f4ee;
  border: 3px solid #30bced;
}

li {
  margin-bottom: 8px;
  /* margin-right: 10px; */
  list-style: none;
}

.prof-buttons {
  width: 50px;
  border: 1px solid blue;
}
