.badge-wrapper:hover {
  background-color: rgba(48, 188, 237, 0.5);
  border: 3px solid aquamarine;
  cursor: pointer;
}

.badge-wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  margin: 10px 40px;
  text-align: center;
  border: 3px solid #30bced;
  border-radius: 20px;
  background: linear-gradient(to bottom, #eff5f9, #d3e5f6);
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

h4 {
  font-size: 20px;
}

#all-badges-wrapper {
  display: flex;
  flex-flow: row wrap;
  background-color: #fff5ee;
  padding-top: 50px;
  padding-bottom: 50px;
}
